@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 248, 248);
 
}
header{
    color: white;
    background-color: rgb(22, 22, 22);
    padding-top: 3px;
    margin-bottom: 2px;
    padding-bottom: 3px;
    text-align: center;

    
}

section{
    padding-left:20px ;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2.5em;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
section.imagem{
    padding-top: 60px;
    background-color: rgb(34, 33, 33);

}

header > nav > a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
header > nav > a:hover{
    text-decoration: underline;
  
    color: blue;

}
header > nav{
    color: white;
}
header > h1{
    font-family: 'Bangers', cursive;
    font-size: 45px;
}
footer{
    color: white;
    background-color: rgb(22, 22, 22);
    padding-top: 3px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding-bottom: 3px;
    text-align: center;


}

